/*****************************************************************************/
/* Quick Reply */
/*****************************************************************************/

.sc-dlnjwi.iBzKJA.sc-jSFjdj.kJmatq.sc-fHCHyC.hWMIAo {
	background: #223f3b;
	color: #deebda;
}

/*****************************************************************************/
/* Message Window */
/****************************************************************************/
.message-wrapper.js-message-wrapper {
	background: #deebda !important;
}


/*****************************************************************************/
/* Message */
/****************************************************************************/
.chat-outgoing-msg {
    background: #deebda !important;
    border: 1px solid #243;
    color: #223f3b;
    position: relative;
	font-size: 8pt !important;
}

.chat-incoming-msg {
    background: #deebda !important;
    border: 1px solid #243;
    color: #223f3b;
    position: relative;
}

/*****************************************************************************/
/* Message Entry Area*/
/****************************************************************************/
.message-box {
	background: #deebda !important;
}

/*****************************************************************************/
/* Message Entry Box*/
/****************************************************************************/
.sc-iwajpm.kydRHc {
	background: #deebda !important;
	color: #223f3b !important;
}

/*****************************************************************************/
/* Send Message*/
/****************************************************************************/
.sc-bCwfaz.hrxVLf {
	background: #deebda !important;
	color: #223f3b !important;
}