/*****************************************************************************/
/* Quick Reply */
/*****************************************************************************/

.sc-dlnjwi.iBzKJA.sc-jSFjdj.kJmatq.sc-fHCHyC.hWMIAo {
	background: #223f3b;
	color: #deebda;
}

/*****************************************************************************/
/* Message */
/****************************************************************************/
.chat-outgoing-msg {
    background: #deebda;
    border: 1px solid #243;
    color: #223f3b;
    position: relative;
}

.chat-incoming-msg {
    background: #deebda;
    border: 1px solid #243;
    color: #223f3b;
    position: relative;
}