/*****************************************************************************/
/*****************************************************************************/
/* PLEASE EDIT THE VARIABLES AND FONT FAMILY BELOW FOR YOUR CHATBOT          */
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/* Declare color and sizing variables                                        */
/* Note: Chat title font and background color set in 8x8 chat design         */
/*****************************************************************************/
:root {
	--chatbotName: "Felix";
	--chatTitleFontSize: 1.25rem;
	--chatControlButtonBackgroundColor: #eb8c4b;
	--chatControlButtonFontColor: #ffffff;  /*Note: Send button always white */
	--chatDownloadCobrowseMenuVisibility: hidden;   /* "hidden" or "visible" */
	--chatMessageBackgroundColor: #f5f7f3;
	--chatMessageFontColor: #223f3b;
	--chatMessageFontSize: 0.85rem;
	--chatMessageBorder: 0px solid #223f3b;
	--chatMessageHypertextFontColor: #223f3b;
	--chatMessageHypertextFontWeight: 600;
	--chatButtonBackgroundColor: #223f3b;
	--chatButtonFocusBackgroundColor: #5cc87a;
	--chatButtonFontColor: #f5f7f3;
	--chatButtonFontSize: 0.85rem;
	--chatButtonQuickReplyFontSize: 0.75rem;
	--chatButtonBorder: 0px solid #223f3b;
	--chatSecondaryButtonBackgroundColor: #f5f7f3;
	--chatSecondaryButtonFontColor: #223f3b;
	--chatSecondaryButtonBorder: 1px solid #223f3b;
	--chatWindowBackgroundColor: #deebda;
	--chatWindowEntryAreaBackgroundColor: #f5f7f3;
	--chatWindowEntryTextboxBackgroundColor: #f5f7f3;
	--chatWindowEntryTextboxFontColor: #223f3b;
	--chatWindowEntryTextboxBorder: 1px solid #deebda;
}

/*****************************************************************************/
/* Font family (use default unless customer has their own font family to use */
/*****************************************************************************/
body, input[type="text"], textarea, button, select {
/*	font-family: "Segoe UI", "Myriad Pro", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Arial", "sans-serif"; */
	font-family: "Neue Montreal", "Inter", "sans-serif";
}

/*****************************************************************************/
/*****************************************************************************/
/* YOU SHOULD NOT NEED TO EDIT ANYTHING BELOW THIS POINT                     */
/*****************************************************************************/
/*****************************************************************************/

/*****************************************************************************/
/* Put the bot name instead of "Bot" in messages from the bot                */
/* METHOD 1: Hide the word "bot" my making it the background color           */
/* It will be visible if the user selects the text                           */
/*****************************************************************************/
.chat-msg-sender[aria-label="Bot"]::before {
	content: var(--chatbotName) " " !important;
	color: var(--chatMessageFontColor);
}

.chat-msg-sender {
	color: var(--chatMessageBackgroundColor) !important;
}

/*****************************************************************************/
/* Put the bot name instead of "Bot" in messages from the bot                */
/* METHOD 2: Put "Bot" in brackets after the bot name e.g. "Name (Bot)"	     */
/*****************************************************************************/
/*.chat-msg-sender[aria-label="Bot"]::before {
	content: var(--chatbotName) " (" !important;
	color: var(--chatMessageFontColor);
}

.chat-msg-sender[aria-label="Bot"]::after {
	content: ")" !important;
	color: var(--chatMessageFontColor);
} */

/*****************************************************************************/
/* Set chat window title font size and minimum height                        */
/*****************************************************************************/
h1.nugen__title {
    font-size: var(--chatTitleFontSize) !important;
}

.nugen__header {
	min-height: 75px;
}

/*****************************************************************************/
/* Hide the 8x8 download transcript and co-browse menu button                */
/*****************************************************************************/
.message-actions.js-message-actions {
	visibility: var (--chatDownloadCobrowseMenuVisibility);
}

/*****************************************************************************/
/* Set background color for chat container                                   */
/*****************************************************************************/
.container, .nugen__inner-container, .nugen__main, .nugen__message-history, .nugen__content-loading {
	background: var(--chatWindowBackgroundColor) !important;
}

/*****************************************************************************/
/* Set background color for message window                                   */
/*****************************************************************************/
.message-wrapper {
	background: var(--chatWindowBackgroundColor) !important;
}

/*****************************************************************************/
/* Set background color for message entry area                               */
/*****************************************************************************/
.message-box {
	background: var(--chatWindowEntryAreaBackgroundColor) !important;
}

/*****************************************************************************/
/* Set message entry box background, border and font color                   */
/*****************************************************************************/
.sc-iwajpm.kydRHc {
	background: var(--chatWindowEntryTextboxBackgroundColor) !important;
	color: var(--chatWindowEntryTextboxFontColor) !important;
}

textarea.sc-jNnpgg.kLwVqJ {
	background: var(--chatWindowEntryTextboxBackgroundColor);
	border: var(--chatWindowEntryTextboxBorder);
}

/*****************************************************************************/
/* Set background color of send message button                               */
/*****************************************************************************/
.sc-bCwfaz.hrxVLf {
	background: var(--chatControlButtonBackgroundColor) !important;
}

/*****************************************************************************/
/* Set background and text color of close chat window button                 */
/*****************************************************************************/
.end {
	background: var(--chatControlButtonBackgroundColor) !important;
}

svg[width="14"] {
	fill: var(--chatControlButtonFontColor) !important;
}

/*****************************************************************************/
/* Set message background and font color and font size of chat messages      */
/* Also set the font color and weight for hyperlinks                         */
/* The p element inherit is needed as outgoing chat messages, unlike inbound */
/* chat message are embedded within p elements                               */
/*****************************************************************************/
.chat-outgoing-msg {
	background: var(--chatMessageBackgroundColor) !important;
	border: var(--chatMessageBorder);
	color: var(--chatMessageFontColor);
	position: relative;
	font-size: var(--chatMessageFontSize) !important;
}

.chat-incoming-msg {
	background: var(--chatMessageBackgroundColor) !important;
	border: var(--chatMessageBorder);
	color: var(--chatMessageFontColor);
	position: relative;
	font-size: var(--chatMessageFontSize) !important;
}

a {
	color: var(--chatMessageHypertextFontColor);
	font-weight: var(--chatMessageHypertextFontWeight) !important;
}

p {
	font-size: inherit !important;
}

/*****************************************************************************/
/* Set quick reply button background and font color and font size            */
/*****************************************************************************/
.sc-dlnjwi.iBzKJA.sc-jSFjdj.kJmatq.sc-fHCHyC.hWMIAo {
	background: var(--chatButtonBackgroundColor);
	color: var(--chatButtonFontColor);
	font-size: var(--chatButtonQuickReplyFontSize) !important;
	border: var(--chatButtonBorder);
}

.sc-dlnjwi.iBzKJA.sc-jSFjdj.kJmatq.sc-fHCHyC.hWMIAo:focus {
	background: var(--chatButtonFocusBackgroundColor) !important;
}

.sc-dlnjwi.iBzKJA.sc-jSFjdj.kJmatq.sc-fHCHyC.hWMIAo:hover {
	background: var(--chatButtonFocusBackgroundColor) !important;
}

/*****************************************************************************/
/* Set quick reply buttons to be centered in the chat Window                 */
/*****************************************************************************/
.sc-euEtCV.KKTYm {
	width: 110% !important;
	place-content: center !important;
}

/*****************************************************************************/
/* Set font and left margin so the adaptive card formatting used by 8x8 to   */
/* display a say/question node with buttons looks like a standard say node.  */
/* This also reduces size of title text in a gallery                         */
/*****************************************************************************/
.ac-textBlock {
	font-family: inherit !important;
	font-size: var(--chatButtonFontSize) !important;
	line-height: inherit !important;
	margin-left: -15px;
	color: var(--chatMessageFontColor) !important;
}

/*****************************************************************************/
/* Set say, question, gallery node button background and font color and font */
/* size and remove unnecessary bottom margin                                 */
/* Update wrap to allow for more than 2 buttons to display                   */
/*****************************************************************************/
.ac-pushButton.style-default.ac-selectable {
	background: var(--chatButtonBackgroundColor);
	color: var(--chatButtonFontColor);
	font-size: var(--chatButtonQuickReplyFontSize) !important;
	font-family: inherit !important;
	margin-bottom: 0px;
	border: var(--chatButtonBorder);
}

.ac-pushButton.style-default.ac-selectable:focus {
	background: var(--chatButtonFocusBackgroundColor) !important;
}

.ac-pushButton.style-default.ac-selectable:hover {
	background: var(--chatButtonFocusBackgroundColor) !important;
}

.ac-actionSet {
	flex-wrap: wrap !important;
}

/*****************************************************************************/
/* Set buttons for digits 1-10 as 40px circles                               */
/*****************************************************************************/
button[aria-label="1"], button[aria-label="2"], button[aria-label="3"], button[aria-label="4"], button[aria-label="5"] {
	min-width: 40px !important;
	border-radius: 50%;
}

button[aria-label="6"], button[aria-label="7"], button[aria-label="8"], button[aria-label="9"], button[aria-label="10"] {
	min-width: 40px !important;
	border-radius: 50%;
}

/*****************************************************************************/
/* Set background and font color of primary "yes" button on the close window */
/* this primary button is also used on the invite for "chat now".            */
/* Also set the secondary "no" button on the close window.                   */
/* Note: Impact on the pre-chat window is to be confirmed                    */
/*****************************************************************************/
.nugen__btn, .nugen__btn--primary {
	background: var(--chatButtonBackgroundColor) !important;
	color: var(--chatButtonFontColor) !important;
	border: var(--chatButtonBorder) !important;
}

.nugen__btn--secondary {
	background: var(--chatSecondaryButtonBackgroundColor) !important;
	color: var(--chatSecondaryButtonFontColor) !important;
	border: var(--chatSecondaryButtonBorder) !important;
}

.nugen__btn:hover, .nugen__btn:focus {
    outline: 2px solid var(--chatButtonBackgroundColor) !important;
    border: 1px solid var(--chatWindowBackgroundColor) !important;
}

.nugen__btn:focus {
    outline: 2px solid var(--chatButtonBackgroundColor);
    border: 1px solid var(--chatWindowBackgroundColor);
}