/*****************************************************************************/
/* Declare color and sizing variables                                        */
/*****************************************************************************/

:root {
    --chatBotName: "Stella";
    --chatIncomingMessageBackgroundColor: #e0e0e0;
	--chatMessageFontColor: #292929;
}

/*****************************************************************************/
/* Message avatar and bot name                                               */
/*****************************************************************************/

.chat-msg-sender[aria-label="Bot"]::before {
	content: var(--chatBotName) !important;
	color: var(--chatMessageFontColor);
}

.chat-msg-sender[aria-label="Bot"] {
	color: var(--chatIncomingMessageBackgroundColor) !important;
}

/*****************************************************************************/
/* Set message background and font color so "bot" is invisible               */
/*****************************************************************************/
.chat-incoming-msg {
	background: var(--chatIncomingMessageBackgroundColor) !important;
}