/*****************************************************************************/
/* Declare color and sizing variables                                        */
/*****************************************************************************/


:root {
    --chatBotName: "Virtual Assistant";
	--chatBotNameColor: #000000;
    --chatMessageBackgroundColor: #eeeeee
}

/*****************************************************************************/
/* Show bot name and hide word "Bot"                                         */
/*****************************************************************************/

.chat-msg-sender[aria-label="Bot"]::before {
	content: var(--chatBotName) !important;
	color: var(--chatBotNameColor)
}

.chat-msg-sender[aria-label="Bot"] {
	color: var(--chatMessageBackgroundColor) !important;
}

.chat-outgoing-msg {
	background: var(--chatMessageBackgroundColor) !important;
}
.chat-incoming-msg {
	background: var(--chatMessageBackgroundColor) !important;
}
